 .about{
    width: 100%;
    height: 70vh;
    background-color: #c49b63;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about div{
    width: 30rem;
    height: 30rem;
    margin: 0 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about i{
    width: 9rem;
    height: 10rem;
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: .13rem #2a2727;
    border: .1rem solid #2a2727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about h1{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #2a2727;
}

.about p{
    font-size: 1.2rem;
    font-weight: 300;
    color: #2a2727;
}