.data{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)),url(/images/image7.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data > div{
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.icon-wrapper{
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    position: relative;

}

.icon-bg{
    display: block;
    width: 100%;
    height: 100%;
    border: 0.1rem solid #c49b63;
    transition: all 0.3s;
}

.data i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.7rem;
    transform: translate(-50%,-50%);
    -webkit-text-stroke: 0.12rem #c49b63;
    color: transparent;
    z-index: 100;
    transition: all 0.4s;
}

.icon-wrapper:hover .icon-bg{
    background-color: #c49b63;
    transform: rotateZ(135deg)
}

.icon-wrapper:hover i{
    -webkit-text-stroke: 0.2rem #2a2727
}

.num{
    font-size: 3rem;
    color: #c49b63;
}
 .info{
    font-size: 1.8rem;
    color: #999;
 }