 @media(min-width: 1520px){
    .landing .main-heading{
        font-size: 4rem;
    }

    .banner h1{
        font-size: 6rem ;
    }

    .banner p{
        font-size: 1.5rem;
        width: 60rem;

    }
    .banner-btn{
        width: 12rem;
        height: 5.5rem;

    }

    .details i{
        font-size: 2rem;
        margin-right: 2rem;
    }

    .about div{
        height: 35rem;
    }

    .about p{
        font-size: 2rem;
    }

    .menu{
        height: 70vh;
    }

    .menu-img-wrapper{
        width: 25rem;
        height: 25rem;
    }

    .customers{
         height: 70vh;
    }

    .customers-banner{
        top: 10%;
    }

    .customers-banner h1{
        margin-top: -4rem;
    }

    .customers-banner p{
        font-size: 1.6rem;
        margin-top: 4rem;

    }

    .client{
        height: 25rem;
    }
    .client:nth-child(2){
        height: 31rem;
    }
    
    .client:nth-child(4){
        height: 21rem;
    }

    .client p{
        font-size: 1.6rem;
    }

    .contact-right h1{
        font-size: 4rem;
        margin: 0 0 3rem 2rem;

    }

    .input-group input,textarea{
        width: 30rem;
    }

    .contact-btn{
        width: 30rem;
        height: 6rem;
    }

    .input-group textarea::placeholder,
.input-group input::placeholder{
    font-size: 1.6rem;
}

footer{
    height: 10rem;
}

.copyright{
    font-size: 1.6rem;
}

}

/* @media(max-width: 1500px){
    html{
        font-size: 52%;
    }
    
} */

@media(max-width: 1300px){
    html{
        font-size: 50%;
    }

    .menu{
       height: 65vh; 
    }
    .customers{
        height: 80vh;
    }
    
}

@media(max-width: 1100px){
    html{
        font-size: 45%;
    }

    .landing{
        height: 70vh;
    }
    
    .menu-img-wrapper{
        width: 18rem;
        height: 18rem;
    }
 
    .about{
        height:60vh;
    }

    .menu{
        height: 70vh;
    }

    .customers{
        height: 120vh;
    }
      

     .clients{
        width: 100%;
        flex-direction: column;
    } 

  .client{
        width: 100%;
        height: 16rem;
    } 

    .client:nth-child(2){
        height: 16rem;
    }
    
    .client:nth-child(4){
        height: 16rem;
    }

    .contact-left{
        display: none;
    }

    .contact-right{
        width: 100%;
    }
    .input-group input,textarea , .contact-btn{
        width: 40rem;
    }
} 

@media (max-width: 900px ) {
   
    .landing-contact div span:nth-child(2){
        display: none;
    }



    .menu-left{
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .menu-left p{
        margin: 2rem auto 4rem auto;
    }
    .menu-right{
        display: none;
    }
    
       .customers{
        height: 140vh;
       }

       .customers h1{
         width: 50rem;
         margin: auto;
       }

       .customers p{
        width: 60rem;
       }
       .client{
        width: 100%;
        height: 18rem;
    }  

    .client:nth-child(2){
        height: 18rem;
    }
    
    .client:nth-child(4){
        height: 18rem;
    } 

    .input-group{
        flex-direction: column;
    }

    .contact{
        height: 90vh;
    }

    .input-group input,textarea , .contact-btn{
        width: 60rem;
    }
}   

@media (max-width: 600px) {
    html{
        font-size: 35%;
    }

    .landing-contact{
        height: 19rem;
        flex-direction: column;
        align-items: center;
    }
 
    .details div{
        width: 20rem;
    }
    
    .about{
        flex-direction: column;
        height: 90vh;
    }

    .about div{
        margin: 0 2rem;
    }

    .customers{
        height: 110vh;
    }

    
}

@media (max-width: 450px) {
    .logo{
        display: none;
    }

    .input-group input,textarea , .contact-btn{
        width: 50rem;
    }

    .customers{
        height: 80vh;
    }

    .menu{
        height: 60vh;
    }

    .contact{
        height: 55vh;
    }

    .about{
        height: 70vh;
    }

}

